.create-post {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.create-post-wrapper {
	width: 1120px;
}

.main-container {
	width: 60%;
	height: 100%;

	padding: 1rem 1rem;
}

.page-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.header-title {
	color: #b7cad4;
	font-weight: bold;
	font-size: 1.6rem;
}

.form-wrapper {
	width: 100%;
	padding: 0.5rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-group {
	position: relative;
}

.form-input {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	border: 1px solid #3e4142;
	color: #fff;
	border-radius: 16px;
	background: transparent;
	outline: none;
	transition: border-color 0.3s ease;
	margin: 0;
	resize: none;
}

.form-input::placeholder {
	color: #8ba2ad;
}

textarea {
	min-height: 200px;
}

textarea:focus {
	padding-top: 1rem;
}

.form-input:hover {
	background-color: #181c1f;
	border-color: #8b8d8f;
}

.form-input:focus {
	border-color: #fff;
	padding-top: 1.2rem;
}

.form-label {
	position: absolute;
	top: calc(50%);
	transform: translateY(-50%);
	left: 1rem;
	font-size: 16px;
	color: #8ba2ad;
	pointer-events: none;
	transition: all 0.3s ease;
}

/* Ефект при фокусі або заповненні */
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
	top: 12px;
	font-size: 12px;
	color: #8ba2ad;
}

.flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.community-drop-menu {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 16px;
	outline: none;
	border: none;
	background-color: #2a3236;
	color: #fff;
	letter-spacing: 1px;
}

.community-drop-menu:hover {
	background-color: #333d42;
}
